
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2><img src="../../../assets/img/logo.png"> Knight </h2>
            <p>Knight online shopping site you can buy all kinds of clothes in all sizes </p>
          </div>
  
          <div class="row ">
            <div class="col-lg-6" data-aos="fade-right">
              <div class="image ">
                <a href="/portfolio" title="Man"><img src="../../../assets/img/Zara-Man.jpg" class="img-fluid w-100" alt=""></a>
              </div>
              <div class="image">
                <a href="/team" title="woman"><img src="../../../assets/img/woman 1.jpg " class="img-fluid w-100" alt=""></a>
              </div>
              <div class="image">
                <a href="/services" title="womankids"><img src="../../../assets/img/kids 1.jpg " class="img-fluid w-100" alt=""></a>
              </div>
            </div>
            
            <div class="col-lg-6" data-aos="fade-left">
              <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
               <div class="image">
                 <a href="/portfolio" title="man"><img src="../../../assets/img/zara.jpeg" class="img-fluid w-100" alt=""></a>
              </div>
              
              <div class="image">
                <a href="/team" title="woman"><img src="../../../assets/img/woman2.jpg" class="img-fluid w-100" alt=""></a>
             </div>
             <div class="image">
              <a href="/pricing" title="mankids"><img src="../../../assets/img/kids 2.jpg" class="img-fluid w-100" alt=""></a>
           </div>
              </div>
            </div>
          </div>
  
        </div>
        
      </section><!-- End About Us Section -->