 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Woman's</h2>
      <p>Woman's clothing of all sizes</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">T-shirt</li>
          <li data-filter=".filter-card">trouser</li>
          <li data-filter=".filter-web">Shoes</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/wt1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>T-shirt</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="assets/img/wt1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/sw3.jpg" class="img-fluid w-100" alt="">
          <div class="portfolio-info">
            <h4>Shose </h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/sw3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/wt2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>T-shirt</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/wt2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/tw1.jpg" class="img-fluid w-100" alt="">
          <div class="portfolio-info">
            <h4>trouser</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/tw1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/sw2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Shose</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/sw2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/wt3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>T-shirt</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/wt3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/tw2.jpg" class="img-fluid w-100" alt="">
          <div class="portfolio-info">
            <h4>trouser</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/tw2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/tw3.jpg" class="img-fluid w-100" alt="">
          <div class="portfolio-info">
            <h4>trouser</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/tw3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="../../../assets/img/sw1.jpg" class="img-fluid w-100" alt="">
          <div class="portfolio-info">
            <h4>Shose</h4>
            <p>Buy Now</p>
            <div class="portfolio-links">
              <a href="../../../assets/img/sw1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox w-100" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->
